.vscode/

heimdall/config/*
pihole/etc-dnsmasq.d/
pihole/etc-pihole/
portainer/data/
unifi/config/
uptimekuma/data/
vaultwarden/data/
vscode/data/
wireguard/data/
traefik/authelia/db.sqlite3
traefik/authelia/notification.txt
traefik/letsencrypt/
traefik/redis/
traefik/rules/
media/bazarr/
media/jellyfin/
media/prowlarr/
media/radarr/
media/sonarr/
media/transmission/
homeassistant/data/
